<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication 2fa</title>
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
    <main>
        <label for="create2fa">Coloque o Codigo Gerado</label>
        <input class="CreateKey" type="text" maxlength="1">
        <input class="CreateKey" type="text" maxlength="1">
        <input class="CreateKey" type="text" maxlength="1">
        <input class="CreateKey" type="text" maxlength="1">
        <input class="CreateKey" type="text" maxlength="1">
        <input class="CreateKey" type="text" maxlength="1">
        <div class="button-container">
            <button type="submit">Validar</button>
        </div>

    </main>
</body>
</html>