<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="main">
        <div>
            <label for="create2fa">Código para teste:</label>
           <!-- 
               <button class="CreateSecretKey" type="button">Criar</button>
            --> 
            
        </div>
        <input class="CreateKey" type="text" maxlength="1" readonly>
        <input class="CreateKey" type="text" maxlength="1" readonly>
        <input class="CreateKey" type="text" maxlength="1" readonly>
        <input class="CreateKey" type="text" maxlength="1" readonly>
        <input class="CreateKey" type="text" maxlength="1" readonly>
        <input class="CreateKey" type="text" maxlength="1" readonly>
        <!--
            <div class="button-container">
                <button type="button" onclick="create()">Validar</button>
            </div>
        -->
        <!-- segunda parte -->
        <div class="authent2fa">
            <label for="authent2fa">Coloque o Codigo Gerado</label>
            <input class="authent2fa" type="text" maxlength="1">
            <input class="authent2fa" type="text" maxlength="1">
            <input class="authent2fa" type="text" maxlength="1">
            <input class="authent2fa" type="text" maxlength="1">
            <input class="authent2fa" type="text" maxlength="1">
            <input class="authent2fa" type="text" maxlength="1">
            <div class="button-container1">
                <button type="submit1">Validar</button>
            </div>
        </div>
    </main>
    

    <script>
        function create() {
            window.location.href='authent.html';
        }
    </script>
</body>
</html>